body{
    background-image: url('file:///C:/Users/HP/Downloads/bg-pattern-top-mobile.svg');
}
.write-up{
    font-weight: 700;
    color: hsl(300, 43%, 22%);
    font-family: league spartan;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    font-size: xx-large;

}
.p1{
    color: hsl(300, 43%, 22%);
    text-align: center;
    font-family: league spartan;
    font-size: larger;
    gap: 10px;
    margin-top: -30px;
}
.ratings{
    background-color: hsl(300, 24%, 96%);
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    display: block;
   align-items: center;
   margin: 0 auto;
    font-family: league spartan;
    font-weight: 500;
    color:hsl(300, 43%, 22%) ;
}

.text{
    display: flex;
}
.stars{
    color: darkorange;
    display: inline-block;
    margin-left: 60px;
    margin-right:60px;
    margin-bottom: 5px;
}

.info{
    height: 170px;
    width:250px;
    border-radius: 10px;
    background-color:  hsl(300, 43%, 22%);
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px 11px 10px 10px;
    background-image: url('file:///C:/Users/HP/AppData/Local/Temp/Rar$DIa9452.4692/bg-pattern-bottom-mobile.svg');
}
.container{
display: flex;
align-items: center;    
margin-top: 15px;
margin-left: 10px;
margin-bottom: 15px;
margin-right: 10px;
padding: 10px 10px 20px 10px;
}
.text{
   margin-left: 10px;
    color: white;
    font-family: league spartan;
    font-weight: normal;
    margin-top: -10px;
}
.text2{
    margin-top: 30px;
    color:   hsl(333, 80%, 67%) ;
    font-family: league spartan;
 margin-left: -85px;
}

.p3{
    font-family: league spartan;
    color: white;
    font-size:  small;
font-weight: 400;

}
.bottom{
    margin-bottom: 40px;
}
